* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans','sans-serif';
}

body{
    background: url(../img/JMoral-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: large;
}

/* a:hover{
    transform: translateY(-8px);
} */

header{
    position: relative;
    padding: 0 2rem;
    background-color:rgba(255 ,255 ,255 , 0.5);
}

.navbar{
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #0082e6;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.Jfeature {
    transition: transform 0.3s ease;
}

.Jfeature:hover {
    transform: translateY(-8px);
}

.navbar .toggle_btn{
    font-size: 30px;
    color: #0082e6;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

.copyIP{
    background-color: #0082e6;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.copyIP:hover{
    scale: 1.05;
    color: white;
}

.copyIP:active{
    scale: 0.9s;
}

/*小窗模式*/

 .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     z-index: 100;
 }

 .dropdown_menu.open{
    height: 200px;
 }

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .copyIP{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*小窗模式隐藏*/
@media (max-width:992px) {
    .navbar .links,
    .navbar .copyIP{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width:573px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}
